.calva/output-window/
.classpath
.clj-kondo/.cache
.cpcache
.cpcache/
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts/
/classes
/lib/
/target/
pom.xml
pom.xml.asc